@media (min-width: 992px) {
    #divgen {
        display: grid;
        grid-template-columns: repeat(15, 70px);
    }
    .inputoutput {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    #divgen {
        display: grid;
        grid-template-columns: repeat(10, 70px);
    }
}

@media (max-width: 576px){
    #divgen {
        display: grid;
        grid-template-columns: repeat(5, 70px);
    }
}