#divgen div {
    border: 0.5px solid black;
    width: 65px;
    height: 40px;
}

.fizzbuzz {
    background-color: royalblue;
}

.fizz {
    background-color: red;
}

.buzz {
    background-color: purple;
}

.normal {
    background-color: green;
}

.buttons {
    display: flex;
    align-items: flex-end;
}

#divgen {
    grid-auto-rows: 50px;
}

.outputvalues {
    display: inline;
}

.inputoutput {
    margin-bottom: 30px;
}