
#divgen {
    display: grid;
    grid-template-columns: repeat(20, 30px);
}

#divgen div {
    border: 0.5px solid black;
    width: 25px;
    height: 25px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr;
}